*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

md-sidenav{
	position: fixed !important;
}

md-toolbar{
	background-color: #546E7A;
	position: fixed;
	margin-top: 0;
}

md-backdrop{
	position: fixed !important;
}

md-primary{
	color: #FFFFFF;
}

md-list-item{
	padding: 0px !important;
}

#app{
	display: none;
}

#splashScreen{
	width: 100%;
	height: 100vh;
	background-color: #546E7A;
	position: fixed;
	z-index: 10;
}

@media screen and (max-width: 959px) {
	.slidenav{
		width: 0px;
		background-color: #546E7A;
	}
}

@media screen and (min-width: 960px) {
	.slidenav{
		width: 304px;
		height: 64px;
		float: left;
		background-color: #546E7A;
		
	}
}

.logoSplashScreen{
	width: 300px;
	height: 300px;
	position: relative;
	background: #FFF;    
	opacity: 0.1;
    margin:auto auto;
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.spaceToolbar{
	width: 100%;
	height: 64px;
	background-color: #E53935;

}

.menuIcon{
	margin-top: 12px;
	margin-right: 30px;
	float: left;
}

.bigMenuItensSlidenav{
	width: 100%;
	height: 58px;
}


